body {
	background: url("../images/concrete_seamless.png");
	
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #666;
}


/*head*/

#idheader {
	background: #fff;
	margin: 0 auto ;
	z-index: 99;
	color: #fff;
	overflow: auto;

	border-bottom: 1px solid #ccc;
	position: fixed;

	width: 100%;
	}

.head-container {
	
	max-width: 960px;
	margin: 0 4% 0 15%;
	clear: both;

	
}

/*main*/

#main-container {
	/*background: #fff;*/
	max-width: 960px;
	padding-top: 130px;
	
	margin: 0 15% 30px 15%;
	
    overflow: auto;
	
	width: 80%;
	

}
.main-section {
	background: #fff;
	padding: 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 560px;
	float: left;
	clear: right;
	border: 1px solid #ddd;

}

.my-pic{
	width: 200px;
	border: 2px solid #4aaaa5;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}


.sidebar {
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;

	border: 1px solid #ddd;
	margin-bottom: 20px;
	
}
h3,
.sidebar h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}



#logo {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;

}

nav {
	float: right;
	margin-top: 25px;
}
nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}
nav a:first-child {
	border-left: 0 none;
}

h1, 
h2,
h3,
p {
	margin-bottom: 20px;
}
p:last-child {
	margin-bottom: 0;
}
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: #4aaaa5;
}
h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}
h2,
h3 {
	font-size: 22px;
}

* {
	box-sizing: border-box;
}


footer {
	background: #666;
	color: #fff;
	padding: 20px 0;
	border-top: 2px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
	width: 100%;
}
.footer-container {
	

	
}



.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}
.social:last-child {
	margin-right: 0;
}



/*portfolio page*/

.work {
	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}
.work:nth-child(even) {
	margin-right: 40px;
}
.work img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}
.work h3 {
	border-bottom: 0;
	background: #4aaaa5;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	bottom: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}

/*contact page*/

#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}









@media screen and (max-width: 1100px) {
   .sidebar{ 
   			overflow: auto:; 
   			 } 
  	.main-section{ 
    			width: 60%; }
}
@media screen and (max-width: 980px) {
  
    .main-section{ 
  			  width: 60%; }
  
 	    p{
 				float: left;}  

}

@media screen and (max-width: 768px) {
	
	.main-section{ 
  			  max-width: 680px; 
  			  width: 100%; }
  			 
	 .sidebar{ 
	 		 max-width: 680px; 
	 		 margin-top: 30px;
	 		 padding-top: 0px;
	 		}


	 .my-pic{
 	 		float: left;
 	 		clear: left;
 	 		width: 200px;}
 	 		 p{
 				float: right;}  
  	 /*nav {
  	 		clear: both; float: left;}
}*/

@media screen and (max-width: 666px) {
  	
  	/*.sidebar{
  			 margin-right: 50%; }*/
  	 nav {
  	 		clear: both;
  	 		 float: left;
  	 		 width: 100%;
  	 		 margin-top: 0px;
  	 		 

  	 		}
  	 		 nav a {
  	 		
  	 		 padding-left: 60px;
  	 		

  	 		}
  	 #logo {
		width: 100%;
		

			}		

}
















